<%- include('./partials/header'); -%>

    <h1>Home Page</h1>
    <p> <%= homeContent %> </p>

        <% postArray.forEach( (item)=> { %>
            <h1> <%= item.title %> </h1>
                <p> <%= item.post %> </p>

                    <% } ) %>

                        <%- include('./partials/footer'); -%>