<%- include('./partials/header'); -%>

    <h1>Home Page</h1>
    <p> <%= homeContent %> </p>

        <% postArray.forEach( (item)=> { %>
            <h1> <%= item.title %> </h1>

                <% if (item.post.length> 100) { %>
                    <% var postUrl="/posts/" + item._id %>

                        <p> <%= item.post.substring(0,100) +" ..." %>
                                <a href="<%= postUrl %>">Read More</a>
                            </p>

                            <% } else{ %>
                                <p> <%= item.post %> </p>
                                    <% } %>

                                        <% } ) %>

                                            <%- include('./partials/footer'); -%>